.subscribe {
	margin-top: 80px;
	background: url('../img/subscribe.png') no-repeat;
	background-size: cover;
	padding: 117px 0;
}

.subscribe__title {
	font-family: 'Oxanium';
	font-weight: 700;
	font-size: 64px;
	line-height: 130%;
	text-align: center;
	margin-bottom: 20px;

	@media (max-width: 767.98px){
		font-size: 36px;
	}
	@media (max-width: 600px){
		font-size: 30px;
	}
}

.subscribe__main {
	div {
		display: flex;
		justify-content: space-between;
		border: 1px solid #E7B226;
		max-width: 680px;
		margin: 0 auto;
	}

	@media (max-width: 750px) {
		width: 100%;
	}
	 
	@media (max-width: 450px) {
		div {
			flex-direction: column;
			border: 0;
		}
	} 
}

.subscribe__input {
	font-size: 24px;
	line-height: 146%;
	color: $white;
	background: none;
	flex-grow: 1;
	border: 0;
	outline: 0;
	padding: 30px 15px 30px 50px;

	&::placeholder {
		color: #A48EA9;
	}

	@media (max-width: 600px) {
		font-size: 18px;
		padding: 15px 15px 15px 20px;
	}

	@media (max-width: 450px) {
		border: 1px solid #E7B226;
		width: 100%;
	} 
}

.subscribe__btn {
	display: block;
	width: 244px;
	font-weight: 700;
	font-size: 24px;
	line-height: 146%;
	color: #251928;
	background: #E7B226;
	//min-height: 100%;
	padding: 32px 0px;
	transition: all 0.3s ease 0s;
	&:hover {
		color: $white;
		background: $black;
	}

	@media (max-width: 600px) {
		font-size: 18px;
		font-weight: 600;
		padding: 15px 0;
	} 

	@media (max-width: 450px) {
		font-size: 24px;
		margin: 32px auto 0;
	} 
}